* {
    margin: 0;
    padding: 0;
}


.main-container {
    min-height: 100vh;
    font-size: 24px;

    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 200px;
}

/*SIDEBAR*/

.sidebar {
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template: 80px 300px 200px / 1fr;
    grid-gap: 50px;
    padding-left: 30px;
}


.dashboard-logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 15px;
    padding-top: 20px;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-left: -18px;
}

.logo {
    width: 3.5em;
    height: 3.5em;
    filter: invert(100%);
}

li {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.sidebar-icon {
    width: 1.5em;
    height: 1.5em;
    filter: invert(100%);
}

/*HEADER*/

.header-container {
   grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: brown;
}

.header {
    background-color: brown;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 20px 60px 10px 40px;
    grid-gap: 30px;

    /*for header bottom shadow*/
    height: 82%;
    -webkit-box-shadow: 16px -10px 15px 0px #000000; 
box-shadow: 16px -10px 15px 0px #000000;
    
}

.header-first-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column: 1 / span 2;
}

.search-bar-container {
    display: flex;
    width: 60%;
    gap: 20px;
}

/*.search-icon {
    background-image: url(./img/icons/magnify.svg);
    background-size: contain;
}*/

.search-icon {
    width: 2rem;
    height: 2rem;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
}

.search-bar {
    height: 20px;
    width: 100%;
    max-width: 800px;
    min-width: 200px;

    border: none;
    border-radius: 25px;
    height: 30px;
}

.user-wrapper {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.user-icon-small {
    width: 2.5em;
    height: 2.5em;
}

.user-name-small {
    font-size: 1.2rem;
    font-weight: 600;
}


.header-second-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
}

.user-icon-big {
    height: 3.5em;
    width: 3.5em;
}


.user-greeting {
    display: flex;
    gap: 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;

}

.user-name-big {
    font-size: 0.8em;
    font-weight: 600;
}

.greeting-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
}

.buttons-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

button {
    background-color: lightseagreen;
    text-decoration: none;
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: 0.8em;
    border-radius: 20px;
    
}

/*MAIN-CONTENT*/

.main-content {
    background-color: blueviolet;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    padding: 30px 30px 30px 15px;
    grid-gap: 30px;
    /*-webkit-box-shadow: 16px -1px 15px 0px rgba(0,0,0,0.19); 
box-shadow: 16px -1px 15px 0px rgba(0,0,0,0.19);*/
-webkit-box-shadow: 16px 49px 15px 0px rgba(0,0,0,0.96); 
box-shadow: 16px 49px 15px 0px rgba(0,0,0,0.96);

}

.projects-container {
    background-color: darkgoldenrod;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template: 20px 1fr / 1fr;
    gap: 20px;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project-card {
    background-color: cornflowerblue;
    height: 200px;
    border-radius: 10px;
    /*padding-bottom: 20px;*/
    padding: 20px;
    border-left: 10px solid grey;
    -webkit-box-shadow: 5px 5px 14px 3px rgba(0,0,0,0.21); 
box-shadow: 5px 5px 14px 3px rgba(0,0,0,0.21);
}

.project {
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*border-left: 10px solid grey;*/
}


.title {
    font-size: 0.8em;
    font-weight: bold;
}

p {
    font-size: 0.7em;
}

.text-container {
    margin-bottom: 20px;
}

.project-icons {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    /*padding-bottom: 20px;*/
    margin-top: -10px;
}

.project-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.annoucements-container {
    background-color: darkseagreen;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-gap: 20px;
    display: grid;
    grid-template: 20px 1fr / 1fr;
}

.annoucements-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 14px 3px rgba(0,0,0,0.21); 
box-shadow: 5px 5px 14px 3px rgba(0,0,0,0.21);
}

.annoucement-title {
    font-size: 1rem;
    font-weight: bold;
}

.annoucement-text {
    font-size: 0.8rem;
}

.middle {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.trending-container {
    background-color: lightblue;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template: 20px 1fr / 1fr;
    grid-gap: 20px;
}

.trending-grid {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    padding-right: 0px;
    -webkit-box-shadow: 5px 5px 14px 3px rgba(0,0,0,0.21); 
box-shadow: 5px 5px 14px 3px rgba(0,0,0,0.21);
}

/*.trending-events {
    gap: 20px;
}*/

.event {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.event-text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    /*align-items: center;*/
    justify-content: center;
    gap: 5px;
}

.event-icon {
    font-size: 3rem
}