* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    background-color: brown;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    background-color: blueviolet;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}